
//
$colorPrimario:#FDE1EB;
$colorSecundario:#c5557c;
$marginheader: 20px;
$navColor: blue;
$pading: 20px;
$padingContenido: 25px 25px 25px 0;

$anchoImagen: 400px;

//Colores Aside
$colorFacebook:#72ebcf;
$colorLinkedin:#96D8FF;
$colorInstagram:#EB72E7;
$colorYoutube:#FF7C7C;
$colorTwiter:#C1C1C1;
$colorPinterest:#FFAC56;

//Colores Paleta

$color1:#B22222;
$color1-oscuro:#401010;
$color1-claro:#F08080;

$color2:#BFFC55;
$color2-oscuro:#9ACD32;
$color2-claro:#E6FFC0;

$color3:#58BBFA;
$color3-oscuro:#4682B4;
$color3-claro:#87CEEB;

$color4:#7D34DB;
$color4-oscuro:#4D1B8E;
$color4-claro:#B488E9;
$tonalidadesPrincipal1:$color1-claro 33%,$color1 33%,$color1-oscuro 33%;
$tonalidadesPrincipal2:$color2-claro 33%,$color2 33%,$color2-oscuro 33%;
$tonalidadesPrincipal3:$color3-claro 33%,$color3 33%,$color3-oscuro 33%;
$tonalidadesPrincipal4:$color4-claro 33%,$color4 33%,$color4-oscuro 33%;

/* $tonalidadesPrincipales:("1":$color1,"2":$color2,"3":$color3,"4":$color4); */



